/* 
    Author: Pendy Tok;
    Theme: COVID-19 STATUS IN MALAYSIA;
    Version: 1.0;
*/
/*CSS for All*/
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Montserrat:wght@100&family=Open+Sans&display=swap");

* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Open Sans";
  background-color: #c8d6e5;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1%;
  background-color: white;
  /*border: 1px solid black;*/
}

.container-100 {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid black;
  background-color: white;
}

.row {
  width: 90%;
  margin: 0 auto;
  padding: 1%;
  border: 1px solid black;
  display: flex;
}

.container-95 {
  border: 1px solid black;
  background-color: white;
}

.container60 {
  width: 60%;
  margin: 0 1% 0 0;
  padding: 1%;
  /*border: 1px solid black;*/
  float: left;
  background-color: white;
}

.thinfont {
  font-weight: lighter;
}

.container33 {
  width: 33%;
  margin: 0 1% 0 0;
  padding: 1%;
  /*border: 1px solid black;*/
  float: left;
  background-color: white;
}

.clearfix {
  clear: both;
  float: none;
}

.image-responsive {
  width: 100%;
  height: 5rem;
  background-color: white;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*CSS for Nav bar section*/
.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: white;
}

nav {
  background-color: white;
  height: 1%;
  width: 100%;
  min-width: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #dfe6e9;
  position: -webkit-sticky;
  position: sticky;
}

a {
  position: relative;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #4dacff;
  letter-spacing: 0.2rem;
  padding: 0 0.5rem;
}

a:after {
  content: "";
  position: absolute;
  background-color: #1c55ff;
  height: 0.2rem;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover {
  color: #1c55ff;
}

a:hover:after {
  width: 100%;
}

/*CSS for table in overview section*/
td {
  background-color: white;
  font-weight: lighter;
  padding: 1%;
}

tr.spaceUnder > td {
  font-size: larger;
  padding-top: 1%;
  padding-bottom: 3%;
}

/*CSS for Footer Section*/
.footer {
  background-color: aliceblue;
}

/*CSS for summary table*/
.summarytable {
  /*border: 1px solid black;*/
}
